.youngsHeading {
    display: block;
    background-image: url("../images/element.png");
    background-repeat: no-repeat;
    width: 503px;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
    margin-bottom: 118px;
}

.youngsHeading h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
}

.youngsList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textGroup p {
    color: #7f7f7f;
    font-size: 18px;
    font-weight: 500;
}