@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    height: auto;
    max-width: 1470px;
    background-color: #ffffff;
    color: #000;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

button {
    cursor: pointer;
    display: inline-block;
    min-width: 120px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #000;
    border: none;
    color: #fefefe;
    font-size: 17px;
    font-weight: 500;
    transition: ease-in-out 0.2s;
}

button:hover {
    opacity: 0.8;
}